.clashlogo {
 height: 300px;
 position: absolute;
 left: 330px;
}

.container {
  position: absolute;
  top: 100px;
  display: flex;
}

.bowler {
  left: 200px;
  height: 700px;
  position: relative;
  top: 91px;
}

.globecontainer {
  position: absolute;
  left: 600px;
  z-index: 2;
 
}

.invis {
  display: none;
}

.datacontainer {
 position: absolute;
 
}

